@media screen and (max-width: 793.5px)  {
 
    #Hamburger { display: block; }

    #HamburgerDropDown 
    {
        display: none;
        position: absolute;
        overflow: visible;
        left: 0em;
        z-index: 1;
    }

    #NavBar ul li 
    {
        float: none;
        display: block;
    }

    #NavBar ul li a 
    {
        text-align: start;
        padding: 0.5em;
    }

    #NavBar ul #GroupOnTheRight
    {
        float: none;
    }

    #NavBar ul #GroupOnTheRight li .project_dropdown 
    {
        left: 7rem;
        top: 2.2rem;
        padding-top: 0em;
        padding-right: 0em;
    }
}
